Body{
    background-color:rgb(13, 13, 14);
}
.navbar-brand{
    margin-left: 10px;
    font-family: fantasy;
}
.NAVI{
    background-color: whitesmoke;
    border: 1px solid black
}
.card-body{
    background-color: rgb(219, 215, 215);
}
.botonsito{
    margin-top: 15px;
}
.fondo{
    background-color: black;
}